@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Lobster&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --font-primary: 'Inter', sans-serif;
  --font-banner-1: 'Yellowtail', cursive;
  --font-banner-2: 'Lobster', cursive;
  --primary-color: #977a1c;
  --secondary-color: #393939;
}

body {
  font-family: var(--font-primary);
  overflow-x: hidden;
}

p {
  font-size: 16px;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

h2 {
  font-size: 45px;
}

ul,
ol,
li {
  list-style: none;
  outline: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn-fill {
  width: 194px;
  height: 44px;
  border-radius: 4px;
  border: 1px solid #fae894;
  background: #fae894;
  color: #765c09;
  font-family: var(--font-primary);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.btn-fill:hover {
  background: #f3d13b;
  border-color: #f3d13b;
}

.btn-fill img,
.btn-transparent img {
  transition: 0.3s;
}

.btn-fill:hover img,
.btn-transparent:hover img {
  transform: translateX(15px);
}

.btn-transparent {
  width: 194px;
  height: 44px;
  border-radius: 4px;
  border: 1px solid #ffd500;
  color: #ffd500;
  background: transparent;
  font-family: var(--font-primary);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.btn-transparent:hover {
  background: #ac8a2e;
  border-color: #ac8a2e;
}

.section-title {
  color: #977a1c;
  font-family: Inter;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 134.023%;
}

@media (max-width: 1199px) {
  .section-title {
    font-size: 40px;
  }
}

.section-title-para {
  color: var(--secondary-color);
  font-family: var(--font-primary);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 154.023%;
}

/* Menu section css */
.menu ul li span {
  font-weight: 700;
}

.menu ul li a {
  font-size: 18px;
  transition: 0.3s ease;
}

.menu ul li:hover a {
  color: var(--primary-color);
}

.hamburger {
  display: none;
  cursor: pointer;
}
.navbar-nav-box .nav--item:not(:first-child) {
  margin-left: 20px;
}
.logo-mobile,
.logo-desktop {
  position: relative;
}
@media screen and (min-width:992px){
  .logo-desktop {
    display: flex !important;
    justify-content: center;
  }
}
.logo-desktop img {
  width: calc(100% - 28px) !important;
  margin-left: auto;
  margin-right: auto;
}
.logo-mobile::before,
.logo-desktop:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0;
  height: 54%;
  width: 14px;
  background: #ffd500;
}

.logo-mobile::after,
.logo-desktop:after {
  content: '';
  position: absolute;
  right: 0px;
  top: 0;
  height: 54%;
  width: 14px;
  background: #ffd500;
}
@media screen and (max-width: 1880px) and (min-width: 1200px) {
  .logo-desktop:after{
    height: 75px;
  }
  .logo-desktop:before {
    height: 75px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
  .logo-desktop {
    padding: 0 20px;
  }
  .logo-desktop:after{
    right: 20px;
    height: 72.91px;
  }
  .logo-desktop:before {
    left: 20px;
    height: 72.91px;
  }
}
@media (max-width: 1199px) {
  .menu ul li a {
    font-size: 15px;
  }
  .navbar-nav-box .nav--item:not(:first-child) {
    margin-left: 10px;
  }
}@media screen and (max-width: 991px){
  .logo-desktop:after{
    height: 38px;
  }
  .logo-desktop:before {
    height: 38px;
  }
}

@media (max-width: 991px) {
  .hamburger {
    display: block;
    position: relative;
    top: -6px;
    background: transparent;
    height: 38px;
  }

  .hamburger img {
    right: 5px;
    position: absolute;
    top: 15px;
  }
  .menu {
    position: absolute;
    left: auto;
    width: 225px;
    text-align: center;
    transition: 0.3s;
    z-index: 11;
    height: 100vh;
    background: #fff;
    right: -100%;
    top: 29px;
  }

  .menu.active {
    right: 0;
    z-index: 11;
  }
  .menu .navbar-nav-box {
    display: block !important;
    text-align: left;
    padding-right: 15px;
  }
  .menu .navbar-nav-box li {
    margin-left: 0 !important;
  }
  .menu .navbar-nav-box li.divider-line {
    text-indent: -10000px;
    height: 1px;
    width: 100%;
    background: #000;
  }
  .menu ul li {
    margin: 15px 0;
  }
  .logo-mobile {
    width: 135px;
    display: flex;
    justify-content: center;
  }
  .logo-mobile img {
    width: calc(100% - 12px) !important;
    margin-left: auto;
    margin-right: auto;
  }
  .logo-mobile::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0;
    height: 45%;
    width: 6px;
    background: #ffd500;
  }
  .logo-mobile::after {
    content: '';
    position: absolute;
    right: 0px;
    top: 0;
    height: 45%;
    width: 6px;
    background: #ffd500;
  }
}

/* Banner section css */
.banner-text {
  padding: 160px 0 100px 0;
}

.banner-text h2:nth-child(1) {
  font-family: var(--font-banner-1);
  color: #fae894;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.banner-text h2:nth-child(2) {
  color: #fff;
  font-family: var(--font-banner-2);
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.banner-text .since h2 {
  font-family: var(--font-banner-2);
  color: #ffd500;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  z-index: 3;
  padding-right: 20px;
  display: inline-block;
}
.banner-text .since .since-main-title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50%;
  width: 100%;
  background: #000;
  z-index: -1;
}
.black-bg {
  width: 200px;
  height: 30px;
  background: #000;
  margin-bottom: 40px;
}

.banner-text p {
  color: #fff;
  font-family: var(--font-primary);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.banner-img {
  position: relative;
  z-index: 3;
}

.banner-img .layer-banner-modal {
  position: absolute;
  left: 0px;
  bottom: 0;
  top: -63px;
  margin: auto;
  right: 0;
  z-index: -1;
  width: 437px !important;
  height: 437px;
  padding-top: 75px;
  padding-bottom: 31px;
}
.banner-modal-img {
  height: 543px;
  width: 283px !important;
  position: relative;
  left: 48px;
}

@media (max-width: 1680px) {
  .banner-img {
    position: absolute;
    top: 12%;
  }
}

@media (max-width: 1580px) {
  .banner-img {
    position: absolute;
    top: 12%;
  }
}

@media (max-width: 1440px) {
  .banner-img {
    position: absolute;
    top: 12%;
  }
}

@media (max-width: 1399px) {
  .banner-img {
    position: absolute;
    top: 13%;
  }
}

@media (max-width: 1280px) {
  .banner-img {
    position: absolute;
    top: 16%;
  }
}

@media (max-width: 1199px) {
  .banner-img {
    position: relative;
    top: 20%;
  }
  .banner-text h2:nth-child(1) {
    font-size: 30px;
  }
  .banner-text h2:nth-child(2) {
    font-size: 40px;
  }
  .banner-text .since h2 {
    font-size: 40px;
  }
  .banner-text p {
    font-size: 16px;
  }
  .btn-fill,
  .btn-transparent {
    width: 190px;
    height: 40px;
    font-size: 16px;
  }
  .banner-img .layer-banner-modal {
    width: 400px !important;
    height: 400px;
  }
}

@media (max-width: 991px) {
  .banner-img .layer-banner-modal {
    width: 100% !important;
  }
  .banner-modal-img {
    height: 450px;
    position: relative;
    left: 0px;
  }
  .banner-img {
    position: relative;
    top: 20%;
    width: 300px;
    display: flex;
    justify-content: center;
  }

  .banner-text {
    padding: 90px 0;
  }
  .btn-fill {
    width: 169px;
    height: 37px;
    font-size: 16px;
  }
  .btn-transparent {
    width: 169px;
    height: 37px;
    font-size: 16px;
  }
  .banner-text h2 {
    text-align: left;
  }
  .banner-text .since {
    text-align: left;
  }
  .banner-text p {
    text-align: left;
  }
}
@media (max-width: 767px) {
  .banner-img .layer-banner-modal {
    width: 150px !important;
  }
  .banner-modal-img {
    height: 288px;
    width: 150px !important;
    position: relative;
    left: 0px;
  }
  .banner-text {
    padding: 90px 0 0px 0;
  }
  .banner-section {
    margin-bottom: 0px;
    padding-bottom: 117px;
  }
  .banner-img {
    position: absolute !important;
    top: auto;
    left: 0;
    width: 150px;
    bottom: -112px;
    right: 0;
    margin: 0 auto;
  }
  .banner-text h2 {
    text-align: center;
  }
  .banner-text .since {
    text-align: center;
  }
  .banner-text p {
    text-align: center;
  }
}
/* About us css */
.about-section {
  padding: 120px 0;
}

.about-text h2 {
  color: var(--primary-color);
  text-align: center;
  font-family: var(--font-primary);
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
}

.about-text h3 {
  color: #1b1b1b;
  text-align: center;
  font-family: var(--font-primary);
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.about-text h3 span {
  font-weight: 700;
}
.about-text .and-modal {
  color: #1b1b1b;
  text-align: center;
  font-family: Italianno;
  font-size: 128px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  display: inline-block;
  z-index: 3;
  width: 75px;
  margin-bottom: 80px;
  height: 75px;
}
.and-modal:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #fae894;
  left: 7px;
  top: 35px;
  z-index: -1;
}
.about-text button {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
}
.about-text button,
.service-button button {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.about-text button:hover,
.service-button button:hover {
  background: #fae894;
  border-color: #fae894;
}

@media (max-width: 1199px) {
  .about-section {
    padding: 50px 0;
  }
  .about-text h2 {
    font-size: 40px;
  }
  .about-text h3 {
    font-size: 30px;
  }
  .about-text button {
    position: relative;
  }
}

@media (max-width: 991px) {
  .about-section {
    padding: 170px 0 45px 0;
  }
  .about-text h2 {
    font-size: 26px;
  }
  .about-text h3 {
    font-size: 19px;
  }
  .banner-text {
    text-align: center;
  }
  .banner-text h2:nth-child(1) {
    font-size: 27px;
  }
  .banner-text h2:nth-child(2) {
    font-size: 37px;
  }
  .banner-text .since h2 {
    font-size: 37px;
  }
  .black-bg {
    left: 73px;
  }
}
@media screen and (max-width: 991px) {
  .about-text .and-modal {
    font-size: 40px;
    font-weight: 400;
    line-height: normal;
    width: 25px;
    height: 25px;
    margin-bottom: 32px;
  }
  .and-modal::before {
    left: 3px;
    top: 11px;
  }
}
/* Service section css */
.service-section {
  background: #f1f1f1;
  padding: 75px 0;
}

.service-wrapper {
  border-radius: 6px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.service-wrapper h4 {
  color: var(--primary-color);
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.service-wrapper p {
  color: var(--secondary-color);
  font-family: var(--font-primary);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 134.023%;
  /* 18.763px */
}

@media (max-width: 1199px) {
  .service-wrapper h4 {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .service-section {
    padding: 40px 0;
  }
  .section-title {
    font-size: 25px;
  }
  .section-title-para {
    font-size: 14px;
    line-height: 132.023%;
  }
  .service-wrapper {
    margin: 0 44px;
  }
  .service-section .swiper-button-next,
  .service-section .swiper-button-prev {
    background: #fff;
    width: 28px;
    height: 126px;
    top: 50%;
    transform: translateY(-33%);
    padding: 0 10px;
    color: #b4b4b4;
  }
}
.service-wrapper .img-icons-box {
  width: 137px;
  height: 136px;
  border-radius: 100%;
  background: #977a1c;
  padding: 24px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.service-wrapper .img-icons-box img {
  width: 100%;
  height: 100%;
}
/* Why us css */
.why-us-section {
  padding: 100px 0;
}

.why-us-content ul li {
  margin-bottom: 35px;
}

.why-us-content ul li span {
  font-size: 22px;
  line-height: 1;
}
.why-us-content ul li p {
  font-size: 14px;
}

@media (max-width: 767px) {
  .why-us-section {
    padding: 42px 0;
  }
  .why-us-content ul {
    padding-left: 0;
  }
  .why-us-content ul li span {
    font-size: 16px;
  }
}

/* Partner section css */
.partner-section {
  background: #f1f1f1;
  padding: 100px 0;
}
.founder-box {
  max-width: 446px;
  margin-left: auto;
  margin-right: auto;
}
.founder-box img {
  position: relative;
  z-index: 9;
  border-radius: 8px;
  width: 378px;
  height: 364px;
}

.founder-box .founder-text {
  top: 7px;
  left: 0;
  text-align: center;
  position: relative;
  display: block;
  z-index: 3;
}

.founder-box .founder-name {
  width: 100%;
  height: auto;
  position: relative;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 23px;
}
.founder-box .founder-text::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: -70px;
  background: var(--primary-color);
  z-index: -1;
}
.founder-box .founder-text h4 {
  color: #1b1b1b;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.founder-box .founder-text p {
  color: #1b1b1b;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.partner-section .row:nth-child(3) {
  padding-top: 30px;
}
.ceo-founder-box-wrapper,
.partner-content-wrapper {
  max-width: 1060px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.partner-text {
  background: var(--primary-color);
  bottom: 60px;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  max-width: 296px;
  position: relative;
}

.partner-text h4::after {
  content: '';
  position: absolute;
  width: 60px;
  height: 2px;
  background: #fae894;
  bottom: -8px;
  right: 50%;
  transform: translateX(50%);
}
.partner-text2 h4::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  background: #bb9722;
  bottom: -8px;
  left: 0;
}

.partner-section .row:nth-child(5) {
  padding-top: 120px;
}

.co-founder-name h4 {
  color: var(--primary-color);
}

.co-founder-name p {
  color: #1b1b1b;
}
.partner-box {
  max-width: 343px;
  display: flex !important;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .co-founder img {
    width: 226px !important;
    height: 226px;
    object-fit: cover;
  }
}
@media (max-width: 767px) {
  .ceo-founder-box-wrapper,
  .partner-content-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .ceo-founder-box-wrapper {
    background-color: #e4e4e4;
    padding-bottom: 50px;
  }
  .partner-section {
    padding: 50px 0 0;
  }
  .co-founder img {
    width: 121px !important;
    height: 121px;
    object-fit: cover;
  }
  .partner-text2 h4 {
    font-size: 16px;
  }
  .partner-text2 p {
    font-size: 12px;
  }
  .co-founder-name h4 {
    font-size: 14px;
  }
  .co-founder-name p {
    font-size: 12px;
  }
}

/* Client section css */
.client-section {
  padding: 100px 0;
}

.client-section .slider-card {
  width: 208px;
  height: 178px;
  border-radius: 6px;
  border: 1px solid #f1f0f0;
  background: #fff;
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.04);
}

.client-section .swiper {
  width: 100%;
  height: 100%;
}

.client-section .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-section .swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.client-section .swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px;
  font-weight: 800;
  color: #b4b4b4;
}

.swiper-button-next {
  right: 0px;
  left: auto;
  background: #f1f1f1;
  height: 126px;
  top: 50%;
  transform: translateY(-31%);
}
.swiper-button-prev {
  right: auto;
  left: 0;
  background: #f1f1f1;
  height: 126px;
  top: 50%;
  transform: translateY(-31%);
}

/* Client testimonial css */
.testimonials-section,
.client-testimonial {
  padding: 100px 0;
  background: #f1f0f0;
}

.testimonial-card h3 {
  position: relative;
}

.testimonial-card h3::after {
  position: absolute;
  content: '';
  background: var(--primary-color);
  width: 65px;
  height: 2px;
  bottom: -4px;
  left: 0;
}

.testimonial-card p {
  color: #000;
  line-height: 183.023%;
  text-transform: capitalize;
}

.testimonial-card p span {
  color: var(--primary-color);
  font-size: 22px;
}

/* Client testimonial swiper slider css */
.client-testimonial .swiper-grid-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: row;
}

.client-testimonial .swiper-slide {
  height: auto;
  display: contents;
}

@media (max-width: 767px) {
  .testimonials-section,
  .client-testimonial {
    padding: 50px 0;
  }
}

/* Simple bg css */
.simple-bg div img {
  width: 100%;
}

/* Get in touch css */
.get-in-touch {
  padding: 100px 0;
}

.get-in-touch form input {
  height: 57px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
}

.get-in-touch form label {
  color: #1b1b1b;
  font-size: 24px;
  line-height: 160.023%;
  text-transform: capitalize;
}

.get-in-touch form textarea {
  height: 296px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  resize: none;
}

.get-touch-button button {
  background: #bb9722;
  width: 150px;
}

@media (max-width: 767px) {
  .get-in-touch {
    padding: 50px 0;
  }
  .get-in-touch form label {
    font-size: 16px;
  }
  .get-in-touch form input {
    height: 45px;
  }
  .get-in-touch form textarea {
    height: 142px;
  }
}

/* Address section css */

.phone-mail h2 {
  color: #514e4e;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.phone-mail span {
  color: var(--primary-color);
}

.social-media ul li {
  margin-right: 20px;
}

@media (max-width: 768px) {
  .phone-mail h2 {
    font-size: 20px;
  }
  .address-box h4 {
    font-size: 18px;
  }
  .address-box p {
    font-size: 12px;
  }
  .address-section .row:nth-child(2) {
    border: 0 !important;
  }
  .address-section .no-border {
    border: 0 !important;
  }
}

/* Map section css */
.map-section {
  width: 100%;
  height: 534px;
}
@media screen and (max-width: 767px) {
  .map-section {
    height: 165px !important;
  }
  .mapouter {
    height: 165px !important;
  }
  .gmap_canvas {
    height: 165px !important;
  }
  .simple-bg div img {
    width: 100%;
    height: 131px;
  }
}
/* Footer css */
footer {
  padding: 110px 0 0;
}

.footer-links ul li a:hover {
  color: var(--primary-color);
}

.copy-right {
  height: 66px;
  background: #d9d9d9;
}

.footer-logo {
  bottom: 78%;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1199px) {
  .footer-logo {
    width: 22%;
  }
}

@media (max-width: 991px) {
  .copy-right {
    height: 47px;
    font-size: 12px;
  }
  .footer-links ul {
    flex-flow: wrap;
    text-align: center;
    padding-left: 0;
  }
  .footer-links ul li {
    font-size: 11px;
    margin-left: 5px;
  }
  .footer-logo {
    width: 119px;
    height: 78px;
    bottom: 88%;
    padding: 15px;
  }
  footer {
    padding: 30px 0 0;
  }
}
@media screen and (max-width: 991px) {
  .simple-bg div img {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .founder-box {
    max-width: 230px;
  }
  .founder-box img {
    width: 177px;
    height: 170.4px;
  }
  .founder-box .founder-text .founder-name h3 {
    font-size: 18px;
    line-height: 160.023%;
  }
  .founder-box .founder-name {
    padding-bottom: 5px;
  }
  .founder-box .founder-text h4 {
    font-size: 16px;
    line-height: 160%;
  }
  .founder-box .founder-text p {
    font-size: 16px;
    line-height: 160%;
  }
  .founder-box .founder-text::before {
    top: -50px;
  }
  .partner-box > img {
    width: 132px;
    height: 132px;
  }
  .partner-box .partner-text {
    background: transparent;
    width: 100%;
    bottom: 0;
    padding: 0 !important;
  }
  .partner-box .partner-text h4 {
    color: #1b1b1b;
    font-size: 16px;
    line-height: 160%;
    text-align: left;
  }
  .partner-box .partner-text p {
    color: #1b1b1b;
    font-size: 12px;
    line-height: 160%;
    text-align: left;
  }
  .partner-box {
    max-width: 100%;
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }
  .partner-text h4::after {
    width: 30px;
    background: #1b1b1b;
    bottom: -8px;
    right: auto;
    transform: none;
    left: 0;
  }
}
.testimonials-section .swiper-container.swiper-testi-slider-mobile,
.testimonials-section
  .swiper-container.swiper-testi-slider-desktop.swiper-horizontal {
  overflow: hidden !important;
  position: relative;
}
.testimonials-section .section-head {
  padding-bottom: 50px !important;
}
.co-founder-name h4 {
  color: #977a1c;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 160.023%;
}
@media screen and (max-width: 991px) {
  .co-founder-name h4 {
    font-size: 14px;
  }
}
